pytest==6.2.5
pytest-cov
coverage==6.0.2  # see https://github.com/pytest-dev/pytest-cov/issues/520
black==22.1.0
isort==5.10.1
recommonmark==0.5.0
sphinx_rtd_theme==0.4.3
docutils==0.16
sphinx==4.2.0
